.my-dd-currency button {
    background: #3bbe3b;
}
.my-dd-currency button:hover {
    background: #3bbe3b;
}
.my-dd-currency > .btn {
    background: #3bbe3b;
}
.my-dd-currency > .btn-primary {
    background: #3bbe3b;
}
.my-dd-currency > .dropdown-menu {
    background: #3bbe3b;
}
.my-dd-currency > .dropdown-item {
    background: #3bbe3b;
}
